## List and it's default functions

In [1]:
lt=[1,2,66,'cool','hot']
lt

[1, 2, 66, 'cool', 'hot']

In [2]:
lt.append(55)
lt

[1, 2, 66, 'cool', 'hot', 55]

In [3]:
lt.count(66)

1

In [4]:
lt.index('cool')

3

In [5]:
lt.insert(3,'happy')
lt

[1, 2, 66, 'happy', 'cool', 'hot', 55]

In [6]:
lt.reverse()
lt

[55, 'hot', 'cool', 'happy', 66, 2, 1]

In [7]:
lt.remove('hot')
lt

[55, 'cool', 'happy', 66, 2, 1]

In [8]:
lt.clear()
lt

[]

## Dictionary and its default functions

In [9]:
dt={'Name':'Praneetha','Age':20,'Occupation':'Student'}
dt

{'Name': 'Praneetha', 'Age': 20, 'Occupation': 'Student'}

In [10]:
dt.keys()

dict_keys(['Name', 'Age', 'Occupation'])

In [11]:
dt.items()

dict_items([('Name', 'Praneetha'), ('Age', 20), ('Occupation', 'Student')])

In [12]:
dt.get('Name')

'Praneetha'

In [13]:
dt.popitem()
dt

{'Name': 'Praneetha', 'Age': 20}

In [14]:
dt.update({'Color':'Black','Occupation':'Student'})
dt

{'Name': 'Praneetha', 'Age': 20, 'Color': 'Black', 'Occupation': 'Student'}

In [15]:
dt1=dt.copy()
dt1

{'Name': 'Praneetha', 'Age': 20, 'Color': 'Black', 'Occupation': 'Student'}

## Sets and it's default function

In [16]:
st={1,2,5,7,99,2,5}
st

{1, 2, 5, 7, 99}

In [17]:
st.add(4)
st

{1, 2, 4, 5, 7, 99}

In [18]:
st.discard(99)
st

{1, 2, 4, 5, 7}

In [19]:
st1={2,6,4,88,45}
st.difference(st1)

{1, 5, 7}

In [20]:
st.difference_update(st1)

In [21]:
st

{1, 5, 7}

In [22]:
st.issubset(st1)

False

In [23]:
st=st1.union(st)
st

{1, 2, 4, 5, 6, 7, 45, 88}

In [24]:
st.issuperset(st1)

True

## Tuples and default methods

In [25]:
tup=(1,4,7,8,4,6)
tup

(1, 4, 7, 8, 4, 6)

In [26]:
tup.count(4)

2

In [27]:
tup.index(4)

1

## Strings and default methods

In [28]:
str='Hello'
str

'Hello'

In [29]:
str[1]

'e'

In [30]:
str[-1]

'o'

In [31]:
str[2:]

'llo'

In [32]:
str[1:3]

'el'

In [33]:
str1 ='Python'
str+str1

'HelloPython'